<style>
    #left_li .active_list{
        color: #fd5454;
        border-left: 0.04rem solid #fd5454;
        background-color: #ffffff;
    }
</style>
<header class="m_header">
    <div class="m_scan">
        <a href="javascript:history.go(-1)"><img lazy-src="img/img1/order-1.png" alt="" class="m_ico_sys"></a>
    </div>
    <input type="text" class="m_search_text" ng-model="foodName">
    <span class="glyphicon glyphicon-search"></span>
</header>
<main>
    <div class="left" auto-height>
        <ui class="left_ul" id="left_li">
            <li ui-sref-active="active_list"><a ui-sref="index.goods.recommend">推荐列表</a></li>
            <li ui-sref-active="active_list" ng-repeat="x in arr"><a ui-sref="index.goods.pro({id:x.id})">{{x.name}}</a></li>
        </ui>
    </div>
    <div class="right" ui-view auto-height></div>
</main>