
<div class="home_main">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="../../img/img/banner1.jpg"/>
			</div>
			<div class="swiper-slide">
				<img src="../../img/img/banner2.jpg"/>
			</div>
			<div class="swiper-slide">
				<img src="../../img/img/banner3.jpg"/>
			</div>
		</div>
		<!-- 如果需要分页器 -->
		<div class="swiper-pagination"></div>
	</div>
	<div class="home_search">
		<input type="text" class="home_search_text" ng-model="foodName">
		<span class="glyphicon glyphicon-search"></span>
	</div>
	<div class="notice">
		<div class="notice_pic">
			<img lazy-src="../../img/img/hotdot.jpg" alt="">
		</div>
		<div class="notice_icon">
			<span class="glyphicon glyphicon-volume-up"></span>
		</div>
		<div class="notice_notice">
			<ul>
				<li>全球合伙人招募</li>
				<li>春节物流停运通知</li>
			</ul>
		</div>
	</div>
	<div class="menu">
		<ul>
			<li ng-repeat="n in menuArr track by $index"><a ui-sref="home.hot"><img lazy-src="{{ n.img }}" alt=""><span>{{ n.name }}</span></li></a>
		</ul>
	</div>
	<div class="shoplist">
		<ul class="shoplist_ul">
			<li><img lazy-src="../../img/img/menu1.jpg" alt=""></li>
			<li><img lazy-src="../../img/img/menu2.jpg" alt=""></li>
			<li><img lazy-src="../../img/img/menu3.jpg" alt=""></li>
			<li><img lazy-src="../../img/img/menu4.jpg" alt=""></li>
		</ul>
	</div>
	<homelist-title title="限量秒杀" name="glyphicon glyphicon-flash"></homelist-title>
	<homelist-title  title="年货提前屯" name="glyphicon glyphicon-gift"></homelist-title>
	<ul class="home_list">
		<li ng-repeat="arr in homeArr1" ng-click="homelistClick(arr.id)" data-id="{{ arr.id }}">
			<a ui-sref="detail">
			<div class="list_pic">
				<img class="list_pic_img" lazy-src="{{ arr.thumb }}" alt="">
				<img class="hot_pic" lazy-src="../../img/img/goodsicon-hotsale.png" alt="">
			</div>
			<div class="list_intro">
				<p class="list_intro_title">{{ arr.title }}</p>
				<p class="list_intro_price">{{ arr.marketprice | currency:"￥" }}</p>
				<div class="list_span"><span class="glyphicon glyphicon-shopping-cart"></span></div>
			</div>
			</a>
		</li>
	</ul>
	<homelist-title  title="新品上市" name="glyphicon glyphicon-leaf"></homelist-title>
	<ul class="home_list">
		<li ng-repeat="arr in homeArr1" data-id="{{ arr.id }}">
			<div class="list_pic">
				<img class="list_pic_img" lazy-src="{{ arr.thumb }}" alt="">
				<img class="hot_pic" lazy-src="../../img/img/goodsicon-isnew.png" alt="">
			</div>
			<div class="list_intro">
				<p class="list_intro_title">{{ arr.title }}</p>
				<p class="list_intro_price">{{ arr.marketprice | currency:"￥" }}</p>
				<div class="list_span"><span class="glyphicon glyphicon-shopping-cart"></span></div>
			</div>
		</li>
	</ul>
	<homelist-title  title="热卖商品" name="glyphicon glyphicon-fire"></homelist-title>
	<ul class="home_list">
		<li ng-repeat="arr in homeArr3" data-id="{{ arr.id }}">
			<div class="list_pic">
				<img class="list_pic_img" lazy-src="{{ arr.thumb }}" alt="">
				<img class="hot_pic" lazy-src="../../img/img/goodsicon-recommand.png" alt="">
			</div>
			<div class="list_intro">
				<p class="list_intro_title">{{ arr.title }}</p>
				<p class="list_intro_price">{{ arr.marketprice | currency:"￥" }}</p>
				<div class="list_span"><span class="glyphicon glyphicon-shopping-cart"></span></div>
			</div>
		</li>
	</ul>
	<img class="lastPic" lazy-src="../../img/img/lastPic.jpg" alt="">
</div>
